# Production Database Credentials
DB_USER=readonlyuser
DB_PASSWORD=passwordhere
DB_HOST=treetracker-cluster-read-only-37982-do-user-8540031-0.b.db.ondigitalocean.com
DB_PORT=25060
DB_NAME=treetracker

# SSH Server
SSH_HOST=204.48.16.148
SSH_USER=root
