[submodule "treetracker-wallet-app"]
	path = treetracker-wallet-app
	url = git@github.com:Amaanfaiz/treetracker-wallet-app.git
[submodule "treetracker-database"]
	path = treetracker-database
	url = git@github.com:Greenstand/treetracker-database.git
[submodule "treetracker-infrastructure"]
	path = treetracker-infrastructure
	url = git@github.com:Greenstand/treetracker-infrastructure.git
[submodule "treetracker-admin-client"]
	path = treetracker-admin-client
	url = git@github.com:Greenstand/treetracker-admin-client.git
[submodule "treetracker-android"]
	path = treetracker-android
	url = https://github.com/Greenstand/treetracker-android.git
[submodule "treetracker-web-map-client"]
	path = treetracker-web-map-client
	url = git@github.com:Greenstand/treetracker-web-map-client.git
